* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-family: 'Josefin sans', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-size: 30px;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

nav a,
ul {
    font-family: 'Alata', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.nav_desktop {
    display: none;
}

.nav_items_onclick {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: black;
    position: absolute;
    top: -100vh;
    min-height: 100vh;
    min-width: 100%;
    transition: transform 0.5s;
    /* transform: translateY(-10px) */
}

.nav_items_onclick.active {
    transform: translateY(100vh)
}

.mobile_nav .active {
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: 'Alata', sans-serif;
    font-size: 1.9rem;
}

.header {
    height: 500px;
    background: url('images/mobile/image-hero.jpg');
    background-size: cover;
    position: relative;
}

.logo_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.8rem;
}

.logo_nav button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

.mobile_nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile_nav_items {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.mobile_nav_items a {
    font-family: 'Josefin sans', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 15px 0;
}

.title_banner {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    padding: 10px;
    font-size: 2EM;
}

.title_items {
    border: 1px solid white;
    padding: 20px;
    width: 280px;
}

.title_items p {
    text-align: start;
}

.virtual_image {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 70px;
}

.paragraphe {
    width: 90%;
    margin: auto;
    color: hsl(0, 0%, 55%);
    margin-top: 20px;
    font-weight: bold;
    line-height: 1.5em;
}

.paragraphe p {
    text-align: center;
}

.creations_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creations_mobile h2 {
    margin-top: 80px;
}

.creations_image {
    position: relative;
    display: flex;
    margin-top: 20px;
}

.creations_image img {
    width: 95vw;
    height: 150px;
    object-fit: cover;
    margin: auto;
    filter: contrast(120%);
}

.creations_image p {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    font-size: 1.6em;
    text-align: left;
    text-shadow: 1px 1px black;
}

.button_see {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.see_all {
    background-color: white;
    border: 2px solid black;
    padding: 10px 40px;
    font-family: 'Alata', sans-serif;
    font-size: 1.2em;
    transition: all 0.5s ease
}

.see_all:hover {
    background-color: black;
    color: white;
}

.desktop {
    display: none;
}

.creations_desktop {
    display: none;
}

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    min-width: 100vw;
}

.footer .logo,
.footer ul li {
    margin: 10px 0;
}

.footer_logos {
    display: flex;
    align-items: center;
}

.footer_logos li,
.footer_logos li img {
    margin: 0 10px;
}

.copyright {
    color: hsl(0, 0%, 41%);
    font-family: 'Alata', sans-serif;
    margin-bottom: 50px;
}

.right_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* MEDIAS QUERIES */

@media screen and (min-width: 768px) {
    #icon_nav {
        display: none;
    }
    .title_banner {
        display: flex;
    }
    .mobile_nav {
        display: none;
    }
    .nav_desktop {
        display: flex;
        justify-content: space-around;
    }
    .nav_desktop a {
        padding: 5px;
        margin: 5px;
    }
    .nav_items {
        margin-top: 20px;
    }
    .nav_items a {
        transition: all 0.9s ease;
    }
    .nav_items a:hover::before {
        width: 46%;
        bottom: -1.1rem;
        left: 25%;
    }
    .logo {
        padding-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        background: url('images/desktop/image-hero.jpg');
        background-size: cover;
    }
    .title_banner {
        display: block;
    }
    .title_items {
        width: 400px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 80px;
    }
    .title_items p {
        font-size: 2.5rem;
        height: auto;
    }
    .mobile {
        display: none;
    }
    .leader {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .desktop {
        display: block;
        position: absolute;
        left: -400px;
    }
    .virtual_image {
        width: 500px;
    }
    .paragraphe_content {
        position: absolute;
        top: 170px;
        left: -70px;
        background-color: white;
        height: 300px;
        width: 400px;
        padding: 30px;
    }
    .paragraphe_content h1 p,
    .paragraphe p {
        text-align: start;
    }
    .paragraphe_content h1 {
        margin-left: 20px;
    }
    .leader_elements {
        position: relative;
        height: 500px;
    }
    .creations_mobile {
        display: none;
    }
    .creations_desktop {
        margin-top: 50px;
        min-width: 100VW;
        display: grid;
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        grid-gap: 20px;
    }
    .creations_image {
        width: 200px;
        height: 500px;
        margin: 0 auto;
        transition: all 1s ease;
    }
    .creations_image img {
        object-fit: cover;
        height: 500px;
        width: 200px;
        margin: 0 auto;
        transition: all 1s ease;
    }
    .creations_image img:hover {
        transition: all 1s;
        background-color: rgba(255, 255, 255, 0.7);
        filter: opacity(0.4);
        transform: scale(1.1);
    }
    .creations_image:hover p {
        color: black;
    }
    .creations_title {
        text-align: CENTER;
    }
}

@media screen and (min-width: 830px) {
    .paragraphe_content {
        left: -10px;
    }
}

@media screen and (min-width: 1024px) {
    .title_items {
        margin-left: 400px;
        width: 600px;
        padding: 30px;
    }
    .title_items p {
        font-size: 4.5rem;
    }
    .header {
        background-size: cover;
        height: 700px;
    }
    .creations_desktop {
        grid-template-columns: repeat(4, 200px);
    }
    .creations_title {
        margin-left: -600px;
    }
    .paragraphe_content {
        width: 500px;
    }
    .footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
    }
    .left_footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer_nav {
        display: flex;
        flex-direction: row;
    }
    .footer_nav li {
        padding: 0 10px;
    }
    .right_footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 60px;
    }
}

@media screen and (min-width: 1300px) {}